OTISCZ.ScmDemand.Interface/Connected Services/WcfScmInterfaceDebug/ScmDemand3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55039/ScmDemand.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" />
  <xs:import schemaLocation="http://localhost:55039/ScmDemand.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" />
  <xs:import schemaLocation="http://localhost:55039/ScmDemand.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55039/ScmDemand.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.Repository" />
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="GetUserDataResult" nillable="true" type="q1:ScmUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserCulture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserCultureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScmSetting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScmSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="GetScmSettingResult" nillable="true" type="q2:ScmSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImportFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImportFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportNomenclature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="lineNomenclature" nillable="true" type="q3:Nomenclature" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportNomenclatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="GetUnitsResult" nillable="true" type="q4:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="GetMaterialGroupsResult" nillable="true" type="q5:ArrayOfMaterial_Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomenclatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomenclaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetNomenclaturesResult" nillable="true" type="q6:ArrayOfNomenclatureExtend" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomenclatureById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomenclatureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomenclatureByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetNomenclatureByIdResult" nillable="true" type="q7:NomenclatureDetailExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNomenclature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="nomenclature" nillable="true" type="q8:NomenclatureExtend" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNomenclatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomenclaturesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomenclaturesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetNomenclaturesReportResult" nillable="true" type="q9:ArrayOfNomenclatureExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierBySupplierId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierBySupplierIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="GetSupplierBySupplierIdResult" nillable="true" type="q10:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactiveSuppliers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="htActivesuppliersIds" nillable="true" type="q11:ArrayOfint" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactiveSuppliersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetSuppliersResult" nillable="true" type="q12:ArrayOfSupplierExtend" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="demand" nillable="true" type="q13:DemandExtend" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDemandResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandWasSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="demand" nillable="true" type="q14:DemandExtend" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandWasSentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDemandWasSentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewDemandRequestNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewDemandRequestNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewDemandRequestNrResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.Repository" minOccurs="0" name="filterFields" nillable="true" type="q15:ArrayOfWcfFilterField" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetDemandsResult" nillable="true" type="q16:ArrayOfDemandExtend" />
        <xs:element minOccurs="0" name="rowsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.Repository" minOccurs="0" name="filterFields" nillable="true" type="q17:ArrayOfWcfFilterField" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetDemandsReportResult" nillable="true" type="q18:ArrayOfDemandExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingNomenclaturesNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingNomenclaturesNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPendingNomenclaturesNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingDemandsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingDemandsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPendingDemandsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="demandId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetDemandDetailResult" nillable="true" type="q19:DemandExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAttachmentContentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="demandId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileIcon" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="attType" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAttachmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAppMen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAppMenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetActiveAppMenResult" nillable="true" type="q20:ArrayOfScmUserExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model" minOccurs="0" name="GetActiveCurrenciesResult" nillable="true" type="q21:ArrayOfCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandNomenclature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="demNom" nillable="true" type="q22:DemandNomenclatureExtend" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandNomenclatureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaterialGroupIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandPreviousStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="demandId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandPreviousStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDemandPreviousStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastImportDateText">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastImportDateTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastImportDateTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLastImportDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLastImportDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="GetSupplierByIdResult" nillable="true" type="q23:SupplierExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="supplier" nillable="true" type="q24:SupplierExtend" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="isContactUpdate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupplierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/OTISCZ.ScmDemand.Model.ExtendedModel" minOccurs="0" name="supplierContactExtended" nillable="true" type="q25:SupplierContactExtended" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupplierContactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImportInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastModifDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isError" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImportInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFileLoaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastModifDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFileLoadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFileLoadedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>