OTISCZ.ScmDemand.UI/Web References/WsMail/OtWsMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachementsPaths" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="iMailPriority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMailBcc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachementsPaths" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="iMailPriority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailBccResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMailByteAttachements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attList" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="fileNames" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="iMailPriority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMailByteAttachementsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMailByteAttachementsBcc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attList" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="fileNames" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="iMailPriority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailByteAttachementsBccResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailBccSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailBcc" />
  </wsdl:message>
  <wsdl:message name="SendMailBccSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailBccResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailByteAttachementsSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailByteAttachements" />
  </wsdl:message>
  <wsdl:message name="SendMailByteAttachementsSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailByteAttachementsResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailByteAttachementsBccSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailByteAttachementsBcc" />
  </wsdl:message>
  <wsdl:message name="SendMailByteAttachementsBccSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailByteAttachementsBccResponse" />
  </wsdl:message>
  <wsdl:portType name="OtWsMailSoap">
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailBcc">
      <wsdl:input message="tns:SendMailBccSoapIn" />
      <wsdl:output message="tns:SendMailBccSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailByteAttachements">
      <wsdl:input message="tns:SendMailByteAttachementsSoapIn" />
      <wsdl:output message="tns:SendMailByteAttachementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailByteAttachementsBcc">
      <wsdl:input message="tns:SendMailByteAttachementsBccSoapIn" />
      <wsdl:output message="tns:SendMailByteAttachementsBccSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OtWsMailSoap" type="tns:OtWsMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailBcc">
      <soap:operation soapAction="http://tempuri.org/SendMailBcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByteAttachements">
      <soap:operation soapAction="http://tempuri.org/SendMailByteAttachements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByteAttachementsBcc">
      <soap:operation soapAction="http://tempuri.org/SendMailByteAttachementsBcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OtWsMailSoap12" type="tns:OtWsMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailBcc">
      <soap12:operation soapAction="http://tempuri.org/SendMailBcc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByteAttachements">
      <soap12:operation soapAction="http://tempuri.org/SendMailByteAttachements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByteAttachementsBcc">
      <soap12:operation soapAction="http://tempuri.org/SendMailByteAttachementsBcc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtWsMail">
    <wsdl:port name="OtWsMailSoap" binding="tns:OtWsMailSoap">
      <soap:address location="http://intranetcz.cz.eu.otis.utc.com/WsOtMail/OtWsMail.asmx" />
    </wsdl:port>
    <wsdl:port name="OtWsMailSoap12" binding="tns:OtWsMailSoap12">
      <soap12:address location="http://intranetcz.cz.eu.otis.utc.com/WsOtMail/OtWsMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>